/* homePage.module.css */

/* Wrapper container to lock and center the entire page */
.pageWrapper {
  width: 100%;
  max-width: 2000px; /* Maximum width */
  margin: 0 auto;
  padding: 0em;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  display: flex;
}

/* Home container to ensure proper centering within the pageWrapper */
.homeContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main content styling */
.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
}

/* Hero section styling */
.heroSection {
  width: 100%;
  height: 80vh; /* Full viewport height */
  text-align: center;
  background-image: url('/assets/Pictures/moss.jpg'); /* Background image added */
  background-size: cover; /* Cover the whole hero section */
  background-position: center; /* Center the background */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600ex;
}
.heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0.5;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);  /* Black filter with 50% opacity */
  z-index: 1;  /* Place below text but above the background */
}

.heroSection h1,
.heroSection p {
  position: relative;
  z-index: 2;  /* Ensure text appears above the overlay */
}
.heroContent {
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); /* Add dark overlay to improve text readability */
  padding: 2em;
  border-radius: 10px;
}

.heroSection h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.heroSection p {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  max-width: 600px;
}

/* Button for hero section */
.getStartedButton {
  padding: 15px 30px;
  background-color: #02d102; /* Bright green button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.getStartedButton:hover {
  background-color: #028a02; /* Darker green on hover */
}

/* Services section styling */
.servicesSection {
  width: 100%;
  text-align: center;
  padding: 3em 0;
}
