/* src/Shared/components/Footer/footer.module.css */
.footer {
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerContent {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
  }
  
  .leftSection,
  .rightSection {
    font-size: 0.9em;
  }
  
  .rightSection a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 0.5em;
    transition: color 0.3s ease;
  }
  
  .rightSection a:hover {
    color: #6f9e35; /* สีเมื่อ hover */
  }
  