.servicesSection {
    width: 100%;
    padding: 3em 0;
    text-align: center;
    background-color: #f9f9f9; /* เพิ่มสีพื้นหลังที่แตกต่างเพื่อให้ส่วนนี้โดดเด่น */
  }
  
  .servicesSection h2 {
    font-size: 2em;
    color: #333333;
    margin-bottom: 1em;
  }
  
  .servicesSection p {
    font-size: 1.2em;
    color: #555555;
    margin-bottom: 2em;
  }
  
  .servicesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* จัดแถวให้มี 5 กล่องต่อแถว */
    gap: 3em; /* เพิ่มระยะห่างระหว่างกล่อง */
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
  }
  